.expense_item_row {
  display: flex;
  flex-direction: row;
}

.expense_total_text {
  /* width: (calc((3 * (100))+25))px; */
  flex: 1;
  margin: 1px;
  background-color: aqua;
}
.expense_total_value {
  width: 100px;
  margin: 1px;
  background-color: aqua;
}

.expense_item_column {
  display: block;
  background-color: aqua;
  width: 100px;
  margin: 1px;
  text-align: left;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0px;
}

.expense_item_text_index {
  width: 25px;
}

.expense_item_text {
  /* float: left; */
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
}
